@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
@font-face {
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    /* src: url(../fonts/Oblik_Bold.otf); */
}

@font-face {
    font-family: 'Fira Sans', sans-serif;
    font-style: italic;
    /* src: url(../fonts/Oblik_Bold_Italic.otf); */
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
aside,
footer,
header,
nav,
section {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

figcaption,
figure,
main {
    display: block
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a:active,
a:hover {
    outline-width: 0
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: inherit;
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

dfn {
    font-style: italic
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

audio,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

[type=reset],
[type=submit],
button,
html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    display: inline-block;
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details,
menu {
    display: block
}

summary {
    display: list-item
}

canvas {
    display: inline-block
}

[hidden],
template {
    display: none
}

*,
:after,
:before {
    box-sizing: border-box
}

::selection {
    background: #000;
    color: #fff
}

::-moz-selection {
    background: #000;
    color: #fff
}

html {
    font-size: 16px
}

@media only screen and (min-width:768px) and (max-width:1359px) {
    html {
        font-size: 15px
    }
}

@media only screen and (max-width:767px) {
    html {
        font-size: 14px
    }
}

a {
    text-decoration: none;
    color: inherit;
    -webkit-transition: color .3s;
    transition: color .3s
}

p {
    line-height: 1.5
}

.container {
    width: 100%;
}

.container-fluid {
    width: 1300px;
    margin: 0 auto;
}

.container-fluid2 {
    width: 1170px;
    margin: 0 auto;
}

.container-fluid3 {
    margin-left: 10%;
    margin-right: 10%;
}

.container-fluid.container-article.certificoes-inmetro {
    padding: 20px 0;
}

.container-center {
    width: 100%;
    display: flex;
    justify-content: center;
}

header .container {
    border-top: 1px solid #59b1d2;
    border-bottom: 1px solid #59b1d2;
}

header .container-fluid {
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

header .header-main {
    padding: 0 40px;
}

header .header-main nav {
    margin-left: 40px;
    margin-right: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

header .header-main nav div a {
    display: block;
    height: 193px;
    width: 98px;
    font-size: 14px;
    font-family: Asap, sans-serif;
    font-weight: 500;
    color: #777;
    text-align: center;
    padding: 105px 10px 40px 10px;
    margin-right: 20px;
}

header .header-main nav div .uppercase {
    text-transform: uppercase;
    width: 120px;
}

header .header-main nav div a:hover,
header .header-main nav div a.active {
    background-color: #d1effc;
    color: #245e79;
    font-weight: 700;
}

header .header-main nav .logo {
    display: block;
    width: 256px;
    height: 110px;
    background: url(../img/layout/marca-provence.svg) no-repeat 50%;
    text-indent: -9999px;
}

header .header-main nav .logo:hover {
    background-color: transparent;
}

header .header-main .logo {
    display: none;
}

.cliente--header {
    border-top: 1px solid #59b1d2;
    border-bottom: 1px solid #59b1d2;
    padding: 30px 0;
    margin: 45px 0;
}

.cliente--header .logo {
    display: block;
    width: 256px;
    height: 110px;
    background: url(../img/layout/marca-provence.svg) no-repeat 50%;
    text-indent: -9999px;
}

.cliente--content {
    display: flex;
    margin-top: 150px;
    margin-bottom: 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cliente--content h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    color: #cae186;
    font-weight: 600;
    margin-bottom: 100px;
    text-align: center;
}

.cliente--content .validacao {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
}
.cliente--content .validacao .imagem,
.cliente--content .validacao .certificados {
    flex: 1;
}

.cliente--content .validacao .imagem {
    width: 420px;
    height: 260px;
    border: 3px solid #cae186;
    overflow: hidden;
    position: relative;
}
.cliente--content .validacao .imagem img {
    position:absolute;
    width: 80%;
    object-fit: contain;
    /* padding: 20px; */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    /* margin-top: -15px; */
}

.cliente--content .validacao .certificados {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cliente--content .validacao .certificados  a {
    border: 3px solid #cae186;
    width: 400px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 15px;
    color: #6da647;
    font-weight: 600;
    font-size: 16px;
    transition: none;
}
.cliente--content .validacao .certificados  a img {
    border-radius: 3px;
}
.cliente--content .validacao .certificados  a:hover {
    background-color: #edf4d5;
    color: #156083;
}
.cliente--content .validacao .certificados span {
    color: #156083;
    font-weight: 600;
    font-size: 20px;
}

@media only screen and (max-width:1359px) {
    header .header-main .logo {
        display: block;
        background: url(../img/layout/marca-provence.svg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        text-indent: -9999px;
        width: 80px;
        padding: 20px 0;
    }
    header .header-main {
        padding: 10px 0;
    }
    header .header-main nav {
        display: none
    }
    .container-fluid {
        width: 90%;
    }
    .container-fluid2 {
        width: 90%;
    }
    .container-fluid3 {
        width: 90%;
        margin-left: 0;
        margin-right:0;
    }
    #mobile-toggle {
        display: none
    }
}

#mobile-toggle {
    display: block;
    background-color: transparent;
    border: 0;
    position: relative;
    height: 24px;
    width: 28px;
    outline: 0;
    padding: 0;
    cursor: pointer;
    margin-left: auto;
    margin-right: 15px
}

@media only screen and (min-width:1360px) {
    #mobile-toggle {
        display: none
    }
}

#mobile-toggle .lines {
    display: block;
    width: 100%;
    height: 4px;
    background: #126c8e;
    position: relative;
    transition: .3s ease
}

#mobile-toggle .lines:after,
#mobile-toggle .lines:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background: #126c8e;
    transition: .3s ease
}

#mobile-toggle .lines:before {
    top: 7px
}

#mobile-toggle .lines:after {
    top: -7px
}

#mobile-toggle.close .lines {
    background: transparent
}

#mobile-toggle.close .lines:after,
#mobile-toggle.close .lines:before {
    transform-origin: 50% 50%;
    top: 0
}

#nav-mobile {
    display: none;
    background: #fff;
    position: absolute;
    z-index: 103;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
    top: 80px;
    left: 0;
    width: 100%;
    padding: 20px;
}

@media only screen and (min-width:1360px) {
    #nav-mobile {
        display: none!important
    }
}

#nav-mobile .center {
    text-align: right
}

#nav-mobile .center a {
    display: block;
    text-transform: uppercase;
    color: #333;
    font-size: .9375rem;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: .7em
}

#nav-mobile .center a.active,
#nav-mobile .center a.open {
    color: #126c8e
}

#mobile-toggle.close .lines:before {
    transform: rotate(45deg)
}

#mobile-toggle.close .lines:after {
    transform: rotate(-45deg)
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.home .banner {
    background: url(../img/layout/img-banner.jpg);
    background-position: right;
    background-repeat: no-repeat;
    height: 430px;
    background-size: contain !important;
    border-bottom: 2px solid #6DA647;
    transition: 1s all;
}


.home .banner-box {
    position: absolute;
    padding-top: 40px;
    padding-left: 50px;
    width: 520px;
    height: 330px;
    border-radius: 30px;
    margin-left: 10%;
    top: 40px;
    z-index: 50;
    /* background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.9); */
}

.home .banner-box h1 {
    font-size: 21px;
    font-family: 'Fira Sans', sans-serif;
    font-style: italic;
    text-transform: uppercase;
    color: #cae186;
    font-weight: 700;
    width: 430px;
    line-height: 1.3;
    /* text-shadow: 1px 1px 3px rgba(31, 31, 31, 0.9); */
}

.home .banner-box p {
    font-size: 23px;
    font-family: Asap, sans-serif;
    font-style: italic;
    font-weight: 400;
    color: #126c8e;
    padding-bottom: 20px;
}

.home .banner-box .btn-banner-home {
    font-family: Asap, sans-serif;
    color: #6DA647;
    font-style: italic;
    font-size: 14px;
    font-weight: 700;
    padding: 15px 20px;
    background-color: white;
    border: 1px solid #6DA647;
    text-transform: uppercase;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.home .banner-box .btn-banner-home .icon {
    padding-left: 10px;
    /* max-height: 20px;
    margin-right: 0px;
    margin-left: auto; */

}

.home .banner-box button:hover {
    background-color: #6DA647;
    color: #fff;
}

.home {
    top: 0px;
    position: relative;
}

.chamada-1-grid {
    padding: 40px 70px 40px;
    text-align: center;
}

.chamada-1-grid h1 {
    font-size: 34px;
    color: #6DA647;
    font-family: Asap, sans-serif;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 40px;
    margin-top: 0;
}

.chamada-1-grid p {
    font-size: 20px;
    font-family: 'Fira Sans', sans-serif;
    font-style: italic;
    font-weight: 600;
    color: #156083;
    text-transform: uppercase;
    line-height: 1.3;
    margin-right: 12px;
    margin-left: 12px;
}

.chamada-1-grid figure {
    padding: 0px;
    margin-right: auto;
    margin-left: auto;
    height: 280px;
    max-width: 320px;
    position: relative;
    background-color: #6ba047;
}

.chamada-1-grid figure img {
    width: 100%;
    height: 100%;
}


.chamada-1-grid a:hover figure img{
    opacity: 0.6;
    color: #6DA647;
}

.chamada-1-grid a:hover p{
    color: #6DA647;
}

.container-article-grid .chamada-1-grid figure figcaption {
    padding: 0;
    position: absolute;
    top: 0;
    height: 0;
    width: 100%;
    height: 100%;
}

.home .chamada-2 {
    background-color: #e5f2f5;
    padding: 40px 0;
}

.home .chamada-2 h1 {
    font-size: 34px;
    color: #6DA647;
    font-family: Asap, sans-serif;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 40px;
    margin-top: 0;
}

.home .chamada-2 .novidades figure {
    position: relative;
    background-color: white;
}

.home .chamada-2 .novidades figure .seta {
    position: absolute;
    bottom: -4px;
    right: 10px;
}

.home .chamada-2 .novidades figure figcaption p {
    margin: 0;
    text-align: start;
}

.home .chamada-2 .novidades figure:hover {
    background-color: #87b967;
}

.home .chamada-3-carrossel {
    background-color: #cae186;
    padding: 30px 0 30px 0;
    position: relative;
    margin: 25px 0 35px 0;
}

.home .chamada-3-carrossel h1 {
    margin: 36px 0;
    font-size: 34px;
    color: #6da647;
    font-family: Asap,sans-serif;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}

.home .chamada-3-carrossel .owl-carousel .owl-nav button.owl-prev {
    display: none;
}
.home .chamada-3-carrossel .owl-carousel .owl-nav button.owl-next span {
    display: none;
}
.home .chamada-3-carrossel .owl-carousel .owl-nav button.owl-next {
    background-image: url(../img/layout/setinha-verde.svg);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    outline: none;
    position: absolute;
    right: -40px;
    top: 50%;
    transform: translateY(-130%);
}
.home .chamada-3-carrossel .owl-carousel .owl-nav button.owl-next:focus-within {
    background-color: transparent;
}

.home .chamada-3-carrossel .owl-carousel div .item {
    width: 600px;
}

.home .chamada-3-carrossel .owl-carousel div table tr .td-img {
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 100%;
    border: 1px solid #126c8e;
}

.home .chamada-3-carrossel .owl-carousel div table tr td img {
    max-width: 145px;
    margin-left: auto;
    margin-right: auto;
}


.home .chamada-3-carrossel .owl-carousel div table tr td p {
    font-family: Asap, sans-serif;
    font-size: 16px;
    font-style: italic;
    color: #126c8e;
    font-weight: bold;
    padding: 0 45px 0 25px;
} 

/* Proposta Modal */
.proposta-modal--background {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0;
    z-index: 999;
    overflow-y: scroll;
}
.proposta-modal--background.active {
    display: flex;
    opacity: 0.8;
}
.proposta-modal--btn-close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: rgb(53, 49, 49);
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
}
.propsota-modal--form {
    display: none;
    position: fixed;
    background-color: #edf4d5;
    width: 700px;
    padding: 20px 40px;
    z-index: 9999;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow-y: scroll; */
}


.propsota-modal--form.active {
    display: flex;
}

@media only screen and (max-height:900px) {
    .propsota-modal--form.active {
        overflow-y: auto;
        height: 500px;
        justify-content: unset;
    }
}

@media only screen and (max-height:600px) {
    .propsota-modal--form.active {
        overflow-y: auto;
        height: 300px;
        justify-content: unset;
    }
}

@media only screen and (max-width:900px) {
    .propsota-modal--form.active {
        width: unset;
        max-width: 700px;
    }
}

@media only screen and (max-width:400px) {
    .propsota-modal--form.active {
        width: 300px;
        overflow-y: auto;
        height: 500px;
        justify-content: unset;
    }
}

.propsota-modal--form h3 {
    color: #6ba047;
    font-size: 26px;
    font-family: Asap, sans-serif;
    font-weight: 400;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
}
.propsota-modal--form form {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.propsota-modal--form form input, 
.propsota-modal--form form select,
.propsota-modal--form form textarea {
    outline: none;
    border: none;
    height: 40px;
    padding: 2px 20px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #6ba047;
}
.propsota-modal--form form input::placeholder,
.propsota-modal--form form textarea::placeholder {
    color: #6ba047;
}
.propsota-modal--form form textarea {
    height: 150px;
    resize: none;
}
.propsota-modal--form form .submit {
    margin-top: 5px;
}
.propsota-modal--form form .submit button {
    float: right;
    width: 180px;
    height: 40px;
    border: 1px solid #6ba047;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.propsota-modal--form form .submit button h3 {
    font-size: 22px;
    font-weight: 600;
    margin-right: 10px;
}
.propsota-modal--form form .submit button img {
    height: 16px;
}

footer {
    background-color: #094c6e;
    color: #eee;
    padding: 20px 0;
    font-family: Asap, sans-serif;
    border-top: 2px solid #aec95f;
    margin-top: 50px;
}

footer p {
    font-size: 12px;
}

footer a:hover {
    color: #00FFFF;
}

footer .menu-footer {
    padding: 0;
}

footer .menu-footer li {
    font-size: 13px;
    font-family: Asap, sans-serif;
    text-transform: uppercase;
    list-style: none;
    padding-bottom: 10px;
}

footer .menu-footer li>ul {
    margin: 0;
    padding-top: 2px;
}

footer .menu-footer li>ul li {
    list-style: disc;
    text-transform: capitalize;
    padding: 0;
}

footer .small {
    font-size: 7pt;
    line-height: 1em;
}

footer .telefone-footer {
    padding-top: 12px;
}

footer .telefone-footer p {
    margin-bottom: -12px;
    font-size: 16px;
}

/* _certificações-pagina-interna */

.row-grid.pagina-interna {
    gap: 20px;
}
.row-grid.pagina-interna a  {
    width: 270px;
    height: 240px;
}
.row-grid.pagina-interna a figure {
    width: inherit;
    height: inherit;
    position: relative;
}
.row-grid.pagina-interna a figure .filter {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(96 96 96 / 75%);
}
.row-grid.pagina-interna a figure img {
    width: 100%;
    height: 100%;
}
.row-grid.pagina-interna a figure figcaption p {
    position: absolute;
    top: 40%;
    left: 50%;
    right: -40%;
    transform: translate(-55%, -50%);
    z-index: 99;
    color: white;
    text-transform: uppercase;
    align-items: center;
    /* caption dos squares */
}
.row-grid.pagina-interna a:hover figure .filter {
    background-color: #6da8c3;
    opacity: 0.8;
}
.row-grid.pagina-interna.verde a:hover figure .filter {
    background-color: #6ba047;
    opacity: 0.8;
}

.row-grid.pagina-interna.mini {
    margin-top: 20px;
    gap: 5px;
} 
.row-grid.pagina-interna.mini a {
    width: 160px;
    height: 160px;
}
.row-grid.pagina-interna.mini a figure figcaption p {
    font-size: 16px;
    top: 40%;
    left: 50%;
    right: -40%;
    transform: translate(-60%, -50%);
}

.content-register {
    width: 85%;
}
.content-register p {
    padding: 0;
}


/* grid desktop */

.row-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.row-grid2 {
    display: flex;
    flex-wrap: wrap;
}

.row-grid3 {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
}

[class*="col-"] {
    padding: 10px;
}

.row-grid::after {
    content: "";
    clear: both;
    display: flex;
}

/* Button da Proposta  */
.chamada-proposta {
    width: fit-content;
    background-color: #cae186;
    padding: 18px;
    margin-top: 20px;
    transition: 0.5s all;
}

.chamada-proposta:hover{
    background-color: #094c6e;
}

.chamada-proposta .btn {
    background-color: #094c6e;
    max-width: 410px;
    height: 80px;
    padding: 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.chamada-proposta .btn p {
    color: #cae186;
    font-family: Asap, sans-serif;
    line-height: 1.3;
    font-size: 29px;
    margin-left: 10px;
    font-weight: 400;
}

/**/

.p-0 {
    padding: 0 !important;
}

.pt-0 {
    padding-top: 0;
}

.pt-1 {
    padding-top: 1em;
}

.pt-2 {
    padding-top: 2em;
}

.pt-3 {
    padding-top: 3em;
}

.pt-g{
    padding-top: 25px;
    padding-bottom: 25px;
}

.pr-0 {
    padding-right: 0;
}

.pr-1 {
    padding-right: 1em;
}

.pr-2 {
    padding-right: 2em;
}

.pb-1 {
    padding-bottom: 1em;
}

.pb-2 {
    padding-bottom: 2em;
}

.pb-3 {
    padding-bottom: 3em;
}

.mb-0 {
    margin-bottom: 0;
}

.m-0 {
    margin: 0;
}

.mb-1 {
    margin-bottom: 1em;
}

.mb-2 {
    margin-bottom: 2em;
}

.mb-3 {
    margin-bottom: 3em;
}

.mr-0 {
    margin-right: 0;
}

.mr-1 {
    margin-right: 1em;
}

.mr-2 {
    margin-right: 2em;
}

.mr-3 {
    margin-right: 3em;
}

.container-article {
    padding: 40px 0;
}

.container-article .titulo,
.container-article .titulo-artigo {
    font-family: 'Fira Sans', sans-serif;
    font-style: italic;
    font-size: 36px;
    text-transform: uppercase;
    color: #cae186;
    font-weight: 600;
    margin-bottom: 0px;
}

.container-article .hr-divisor {
    border-color: #cae186;
}

.container-article h4 {
    font-family: 'Fira Sans', sans-serif;
    font-style: italic;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    color: #6DA647;
    margin-bottom: 60px;
}

.container-article img {
    float: right;
}

.container-article .img-conteudo {
    width: 100%;
    height: auto;
}

.container-article .selo-provence {
    margin-top: 20px;
}

.container-article .titulo-artigo {
    font-family: 'Fira Sans', sans-serif;
    font-style: italic;
    font-size: 28px;
    text-transform: uppercase;
    color: #fff;
    background-color: #6DA647;
    padding: 15px;
}

.container-article .content {
    align-items: center;
    display: flex;
}

.container-article .content2 {
    align-items: center;
    display: flex;
    transition: 0.5s all;
    justify-content: center;
    height: 58px;
}

.container-article .content2:hover {
    background-color: #cae186;
    border-radius: 3px;
    cursor: pointer;
}


.container-article .pdf-download .p,
.suporte-novidades .pdf-download .p {
    font-size: 16px;
    font-family: Asap, sans-serif;
    color: #156083;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0px;
    padding-left: 5%;
    padding-right: 5%;
}

@media only screen and (max-width:1359px) {
    .container-article .pdf-download .p{
        padding-left: 5%;
        padding-right: 5%;
    }
}

.container-article .artigo-novidades .img img {
    width: auto;
    height: auto;
    max-height: 400px;
    float: none;
}

.container-article .artigo-novidades h1,
.politica-de-privacidade h1 {
    font-family: Asap, sans-serif;
    font-size: 28px;
    color: #156083;
    line-height: 1.4;
    font-weight: 300;
}

.container-article .artigo-novidades .voltar {
    transition: 0.5s all;
}


.container-article .artigo-novidades p {
    padding-bottom: 40px;
}

.container-article .artigo-novidades .voltar img {
    float: none;
    transform: scale(-1);
}

.container-article .artigo-novidades .voltar:hover{
    /* background-color: red; */
    border: solid 1.5px #156083;
    border-radius: 2px;
    color: #156083;
    padding: 5px;
    
}

.container-article .artigo-novidades .voltar span {
    text-transform: lowercase;
    font-weight: 700;
    color: #4f812e;
    font-family: Asap, sans-serif;
    font-style: italic;
    padding-left: 5px;
    transition: 0.5s all;
}

.container-article .artigo-novidades .voltar span:hover {
    color: #156083;
    font-size: 18px;
}

.nav-suporte ul {
    list-style: none;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
}

.nav-suporte ul li {
    padding: 10px 20px;
    color: #6ba047;
    border-bottom: 1px solid #6DA647;
    border-right: 1px solid #6DA647;
    border-left: 1px solid #6DA647;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.nav-suporte ul li:nth-child(1) {
    border-top: 1px solid #6DA647;
}

.nav-suporte ul li:hover,
.nav-suporte .active {
    background-color: #aec95f42;
}

.nav-suporte ul li:hover::after,
.nav-suporte ul .active::after {
    content: "a";
    background: url(../img/layout/setinha-verde.svg);
    background-position: right;
    background-repeat: no-repeat;
    text-indent: -9999;
    color: transparent;
    float: right;
}

.container-article .pdf-download img,
.fale-conosco img {
    float: none;
}

.container-article .pdf-download .icon-pdf {
    background-color: #59b1d2;
    border-radius: 100%;
    padding: 10px 12px 5px 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.chamada-orcamento {
    background-color: #cae1866c;
    padding: 10px 10px 10px 0px;
}

.chamada-orcamento h3 {
    font-size: 18px;
    font-family: Asap, sans-serif;
    font-style: italic;
    font-weight: 300;
    color: #6DA647;
    text-transform: uppercase;
    padding-left: 10px;
}

.chamada-orcamento input,
.chamada-orcamento textarea {
    border: 0;
    background-color: #fff;
    font-family: Asap, sans-serif;
    margin-bottom: 5px;
    padding: 5px;
    width: 100%;
    border: 1px solid #fff;
}

.chamada-orcamento textarea {
    margin: 0;
    height: 140px;
    resize: none;
}

.chamada-orcamento input::placeholder,
.chamada-orcamento textarea::placeholder {
    color: #4f812e;
    font-size: 16px;
}

.chamada-orcamento input:hover,
.chamada-orcamento textarea:hover,
.chamada-orcamento input:active,
.chamada-orcamento textarea:active {
    border: 1px solid #6DA647;
}

.chamada-orcamento input:focus-visible,
.chamada-orcamento textarea:focus-visible {
    outline: 2px solid #6DA647;
}

.chamada-orcamento button {
    float: right;
    background-color: transparent;
    border: 1px solid #6DA647;
    color: #6DA647;
    padding: 5px 40px;
    margin-top: 10px;
    text-transform: uppercase;
    transition: .2s ease-in-out;
    font-size: 18px;
    font-family: Asap, sans-serif;
    font-weight: 700;
    font-style: italic;
    cursor: pointer;
}

.chamada-orcamento button .seta {
    background: url(../img/layout/setinha-verde.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0px 10px 0 0px;
    vertical-align: sub;
    margin-left: 5px;
}

.chamada-orcamento button:hover {
    background-color: #6DA647;
    color: #fff;
}

.chamada-orcamento button:hover .seta {
    background: url(../img/layout/setinha-branca.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0px 10px 0 0px;
    vertical-align: sub;
    margin-left: 5px;
}

.container-article p {
    font-family: Asap, sans-serif;
    font-size: 16px;
    /* padding-right: 20%; */
}

.container-article .ar p {
    font-family: Asap, sans-serif;
    font-size: 16px;
}

.container-article {
    color: #333;
}
.container-article.pagine p {
    padding: 0;
}

.container-article-grid {
    border-top: 3px solid #6DA647;
    padding: 40px 0;
}

.container-article-grid .title {
    font-size: 18px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 400;
    font-family: Asap, sans-serif;
    color: #6DA647;
    margin-top: -20px;
}

.aviso-cookies {
    width: 100%;
    height: 190px;
    margin: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-align-items: center;
    align-items: center;
    -ms-justify-content: space-between;
    justify-content: space-between;
    top: 0;
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    z-index: 900;
    padding: 0 calc((100% - 1120px)/2)
}

.aviso-cookies .frase-cookies {
    width: 835px;
    font-size: 1rem;
    font-family: Open Sans, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-weight: 300;
    color: #fff;
    margin: 0
}

.aviso-cookies .frase-cookies .link-politica {
    text-decoration: underline
}

.aviso-cookies .frase-cookies .link-politica:hover {
    font-weight: 700
}

.aviso-cookies .aceitar-cookies {
    width: 220px;
    height: 50px;
    font-size: 1rem;
    font-family: Open Sans, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #fff;
    background-color: #156083;
    border: none;
    border-radius: 0;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    transition: .3s ease
}

.aviso-cookies .aceitar-cookies:hover {
    background-color: #156083
}

@media only screen and (max-width:1359px) {
    .aviso-cookies {
        padding: 0 10%
    }
    .aviso-cookies .frase-cookies {
        font-size: 14px;
        width: 75%
    }
    .aviso-cookies .aceitar-cookies {
        font-size: 14px;
        width: 180px
    }
}

@media only screen and (max-width:1359px) and (max-width:767px) {
    .aviso-cookies {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-align-items: center;
        align-items: center;
        padding: 20px
    }
}

@media only screen and (max-width:1359px) and (max-width:767px) {
    .aviso-cookies .frase-cookies {
        font-size: 12px;
        width: 100%;
        text-align: center
    }
}

@media only screen and (max-width:1359px) and (max-width:767px) {
    .aviso-cookies .aceitar-cookies {
        font-size: 12px;
        width: 50%;
        text-align: center;
        margin-left: 0;
        margin-top: 10px
    }
}

.perfil-empresa .chamada-2 {
    padding: 40px 40px 10px 40px;
    background-color: #cae186;
    margin-bottom: 60px;
}

.perfil-empresa .chamada-2 img {
    float: none;
}

.perfil-empresa .chamada-2 .left {
    float: right;
    display: flex;
    align-items: center;
}

.perfil-empresa .chamada-2 .left .h1 {
    font-size: 36px;
    font-family: Asap, sans-serif;
    text-transform: uppercase;
    color: #819b33;
    font-weight: 300;
    padding-right: 30px;
}

.perfil-empresa-p p {
    color: #245e79;
}

.perfil-empresa-p li {
    color: #245e79;
    font-family: Asap, sans-serif;
    font-size: 16px;
    padding-right: 20%;
    line-height: 1.5;
}

.nossos-servicos .chamada-2 {
    display: flex;
    justify-content: center;
}

.nossos-servicos .chamada-2 h2 {
    font-family: Asap, sans-serif;
    text-transform: uppercase;
    color: #6da647;
    /* font-style: italic; */
    font-weight: 500;
    margin-bottom: 0;
}

.nossos-servicos .chamada-3 p {
    font-family: Asap, sans-serif;
    font-size: 16px;
    color: #156083;
    padding: 0 20%;
    margin-bottom: 80px;
}

.nossos-servicos .chamada-3 h2 {
    font-family: Asap, sans-serif;
    font-size: 24px;
    color: #819b33;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.nossos-servicos .chamada-3 img {
    margin-bottom: 60px;
    max-width: 900px;
}

.suporte-novidades .pdf-download {
    align-items: center;
    border-bottom: 1px solid #b8dcec;
    cursor: pointer;
    transition: .2s ease-in-out;
    padding-left: 10px;
}

.suporte-novidades .pdf-download:nth-child(1) {
    border-top: 1px solid #b8dcec;
}

.suporte-novidades .pdf-download:hover {
    background-color: #aec95fa1;
}

.suporte-novidades .pdf-download .icon-pdf {
    background-color: #59b1d2;
    border-radius: 100%;
    padding: 24px 12px 6px 12px;
}

.suporte-novidades .pdf-download p {
    font-size: 16px;
    font-family: Asap, sans-serif;
    font-style: italic;
    font-weight: 300;
    margin-top: 7px;
}

.suporte-novidades .faq h3::before {
    content: "a";
    background: url(../img/layout/setinha-azul.svg);
    background-repeat: no-repeat;
    color: transparent;
    background-size: 11px;
    vertical-align: middle;
    padding: 0px 1.1em 0 0;
}

.novidades figure {
    margin: 0;
    height: 330px;
    padding: 7px;
    background-color: #aec95f38;
    border-top: 2px solid #59b1d2;
    position: relative;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.novidades img {
    width: 100%;
    max-height: 200px;
    max-width: 380px;
    margin-bottom: 12px;
}
.suporte-novidades--sub-titulo {
    padding: 0!important;
    color: #777;
    font-style: italic;
}

.grid-interno img {
    margin-bottom: 0px !important;
}

.novidades .seta {
    width: 12px;
    margin-top: -15px;
    float: right;
}

.novidades figure figcaption p {
    font-size: 18px;
    font-family: Asap, sans-serif;
    color: #156083;
    line-height: 1.3;
    padding: 0 10px;
}

.novidades figure:hover p {
    color: #fff;
}

.novidades figure:hover {
    background-color: #87b967;
}

/* FAQ - Perguntas frequentes 2.0 */
.accordion {
    width: 100%;
}
.accordion .contentBx {
    font-family: Asap, sans-serif;
    position: relative;
    border-top: 1px solid #59b1d2;
}
.accordion .contentBx:last-child {
    border-bottom: 1px solid #59b1d2;
}
.accordion .contentBx .label {
    font-family: Asap, sans-serif;
    min-height: 70px;
    position: relative;
    padding: 15px 40px 5px 40px;
    font-size: 18px;
    cursor: pointer;
    color: #156083;
    font-weight: bold;
}
.accordion .contentBx.active .label {
    background-color: #aec95f42;
    font-weight: 600;
    min-height: 50px;
}
.accordion .contentBx .label:hover {
    background-color: #aec95f42;
}
.accordion .contentBx .label::before {
    content: "";
    background: url(../img/layout/setinha-azul.svg);
    background-repeat: no-repeat;
    background-size: 11px;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    position: absolute;
    top: 15px;
    left: 10px;
}
.accordion .contentBx .label::after {
    content: "";
    background: url(../img/layout/simbolo-mais.svg);
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    border-radius: 100%;
    position: absolute;
    top: 15px;
    right: 10px;
    border-radius: 100%;
}
.accordion .contentBx.active .label::after {
    background: url(../img/layout/simbolo-menos.svg);
    background-color: #156083;
}

.accordion .contentBx .content {
    padding: 0 40px 0 40px;
    position: relative;
    height: 0;
    background-color: #aec95f42;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: hidden;
    transition: all 0.5s;
}

.accordion .contentBx.active .content {
    padding: 0 40px 20px 40px;
    height: auto;
    max-height: unset;
}

@media only screen and (max-width: 1190px) {
    .accordion .contentBx.active .content {
        /* height: 250px; */
    }
}

@media only screen and (max-width: 980px) {
    .accordion .contentBx.active .content {
        /* height: 300px; */
    }
}


@media only screen and (max-width: 450px) {
    .accordion .contentBx.active .content {
        /* height: 540px;
        max-height: 540px; */
    }
}

.accordion .contentBx .content p {
    margin: 0;
    color: #777;
    font-size: 18px;
    padding: 0;
}
.accordion .contentBx .content a {
    text-decoration: underline;
    color: rgb(45, 111, 133);
}
.accordion .contentBx .content a span {
    background: url(../img/layout/setinha-verde2.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: 8px;
    padding: 0 5px;
    margin-left: 5px;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.fale-conosco .fale-conosco--margin {
    /* margin: 0 0 0 auto!important; */
}

.fale-conosco .formulario {
    height: 400px;
    display: flex;
}
.fale-conosco .formulario .right, 
.fale-conosco .formulario .left {
    flex: 1;
}
.fale-conosco .formulario .right iframe,
.fale-conosco .formulario .left .chamada-orcamento {
    width: 100%;
    height: 100%;
}

.fale-conosco .formulario .chamada-orcamento {
    padding: 30px 25px;
}

.fale-conosco .contato {
    font-family: Asap, sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #245e79;
    font-size: 24px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.fale-conosco .contato img {
    width: 32px;
    margin-right: 10px;
}

.fale-conosco .contato .numero {
    font-weight: 400;
}

.fale-conosco .contato .endereco {
    font-size: 16px;
}


.fale-conosco .google-maps iframe {
    width: 100% !important;
    height: 450px !important;
}

.f-none {
    float: none !important;
}

.ui-accordion .ui-accordion-content {
    padding: 1px 2.7em 1.3em !important;
    border-top: 0;
}

.ui-accordion-content-active {
    height: auto !important;
}

.ui-accordion-content-active p {
    margin: 0 !important;
}

.ui-icon {
    width: 22px;
    height: 22px;
}

.ui-icon,
.ui-widget-content .ui-icon {
    background: url(../img/layout/simbolo-mais.svg);
    background-repeat: no-repeat;
}

.ui-widget-header .ui-icon {
    background: url(../img/layout/simbolo-mais.svg);
    background-repeat: no-repeat;
}

.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon,
.ui-button:hover .ui-icon,
.ui-button:focus .ui-icon {
    background: url(../img/layout/simbolo-mais.svg);
    background-repeat: no-repeat;
}

.ui-state-active .ui-icon,
.ui-button:active .ui-icon {
    background: url(../img/layout/simbolo-menos.svg);
    background-repeat: no-repeat;
    background-color: #156083 !important;
    border-radius: 100%;
}

.ui-widget-content {
    border-bottom: 1px solid #b8dcec !important;
    background: #aec95f42 !important;
    color: #156083 !important;
}

.ui-widget-content a {
    color: #156083 !important;
}

.ui-widget-header {
    border-bottom: 1px solid #b8dcec !important;
    background: transparent;
    color: #156083 !important;
    font-weight: 300;
    font-size: 16px;
    font-family: Asap, sans-serif;
}

.ui-icon {
    float: right !important;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border-top: 1px solid #b8dcec !important;
    border: none;
    background-color: #aec95f42 !important;
    font-weight: bold;
    color: #156083;
}

.ui-widget-content {
    border: none;
}

.ui-accordion .ui-accordion-header {
    display: block;
    cursor: pointer;
    position: relative;
    margin: 0;
    padding: .5em .5em 1.5em .7em;
    font-size: 18px;
    font-family: Asap, sans-serif;
}

.ui-state-default {
    border-top: 1px solid #b8dcec;
    background: transparent;
    color: #156083;
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited,
a.ui-button,
a:link.ui-button,
a:visited.ui-button,
.ui-button {
    color: #156083;
    text-decoration: none;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
    border-top: 1px solid #b8dcec;
    background-color: #aec95fa1;
    font-weight: normal;
}

.container-article .artigo-novidades p {
    padding-right: 0 !important;
}

.flash {
    padding: 13px 10px;
    font-size: 13px;
    font-family: Asap, sans-serif;
    text-transform: uppercase;
    margin: 10px;
}

.flash-sucesso {
    background-color: #b1ecb7;
    color: #6da647;
}

.flash-erro {
    background-color: #f99090;
    color: #222;
}

.btn-rightbox{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.btn-leftbox{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

@media only screen and (min-width:1290px) {
    .chamada-1-grid figure figcaption {
        height: 100%;
        max-height: 100%;
    }
    .container-article-grid .chamada-1-grid figure figcaption {
        height: 98%;
    }
}

@media only screen and (min-width:893px) and (max-width: 1090px) {
    .chamada-1-grid {
        padding: 50px 30px 40px 30px;
    }
}

@media only screen and (max-width: 1300px) {
    .content-register {
        width: 100%;
    }
}

@media only screen and (min-width:893px) {
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
    .mb-09 {
        margin-bottom: .9em;
    }
}


/**/


/* grid tablet */

@media only screen and (max-width: 992px) {
    .col-md-1 {
        width: 8.33%;
    }
    .col-md-2 {
        width: 16.66%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33.33%;
    }
    .col-md-5 {
        width: 41.66%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.33%;
    }
    .col-md-8 {
        width: 66.66%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-10 {
        width: 83.33%;
    }
    .col-md-11 {
        width: 91.66%;
    }
    .col-md-12 {
        width: 100%;
    }
    .chamada-1-grid figure img {
        /* width: 94%; */
    }
    .chamada-1-grid figure {
        max-height: none;
        margin-bottom: 15px;
    }
    .chamada-1-grid figure figcaption p {
        font-size: 18px;
    }
    .chamada-1-grid {
        padding: 60px 0;
    }
    .chamada-1-grid figure figcaption {
        height: 99%;
    }
    .chamada-2 iframe {
        width: 100% !important;
    }
    .chamada-proposta .btn {
        font-size: 30px !important;
    }
    .chamada-proposta .btn p {
        font-size: 26px;
        font-weight: normal!important;
    }
    .chamada-proposta p {
        padding-left: 0 !important;
    }
    .perfil-empresa .chamada-2 .left .h1 {
        font-size: 26px !important;
    }
    .nossos-servicos .chamada-3 .descricao {
        padding: 0 5% !important;
    }
    .nossos-servicos img {
        width: 100%;
    }
    .container-article p {
        padding: 0 !important;
    }
    .chamada-1-grid h1,
    .home .chamada-2 h1,
    .home .chamada-3-carrossel h1 {
        font-size: 26px;
    }
    .home .chamada-1-grid p {
        font-size: 18px;
    }
    .fale-conosco .fale-conosco--margin {
        width: 100%;
    }
    .fale-conosco .fale-conosco--margin .row-grid {
        flex-direction: column;
    }
    .fale-conosco .formulario {
        flex-direction: column;
        height: auto;
    }
    .fale-conosco .formulario .left, 
    .fale-conosco .formulario .right iframe {
        height: 400px;
    }

    .cliente--content .validacao  {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .cliente--content .validacao .imagem {
        width: 300px;
        height: 150px;
    }
    .cliente--content .validacao .certificados {
        align-items: center;
        max-width: 100%;
    }
    .cliente--content .validacao .certificados a {
        width: 300px;
    }
}


/**/

@media only screen and (min-width: 692px) {
    .pl-1 {
        padding-left: 1em;
    }
    .pl-2 {
        padding-left: 2em;
    }
    .pl-3 {
        padding-left: 3em;
    }
    .pr-3 {
        padding-right: 3em;
    }
}


/* grid mobile */

@media only screen and (max-width: 692px) {
    .perfil-empresa .chamada-2 .left {
        float: none;
        justify-content: center;
    }
    .chamada-proposta .btn {
        max-width: 284px;
    }
    .chamada-proposta .btn p {
        font-size: 20px;
    }
    .col-sm-1 {
        width: 8.33%;
    }
    .col-sm-2 {
        width: 16.66%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-4 {
        width: 33.33%;
    }
    .col-sm-5 {
        width: 41.66%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-7 {
        width: 58.33%;
    }
    .col-sm-8 {
        width: 66.66%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-10 {
        width: 83.33%;
    }
    .col-sm-11 {
        width: 91.66%;
    }
    .col-sm-12 {
        width: 100%;
    }
    .chamada-1-grid {
        padding: 40px 0;
    }
    .container-article img {
        float: none !important;
    }
    .container-article {
        padding: 20px 0 !important;
    }
    .chamada-proposta {
        margin: 20px auto 0 auto;
    }
    .chamada-proposta .left,
    .chamada-proposta .right {
        text-align: center !important;
    }
    .chamada-proposta p {
        float: none !important;
    }
    .d-sm-none {
        display: none;
    }
    .fale-conosco .contato:nth-child(3) {
        width: 100%;
    }
    .home .banner-box p {
        padding-right: 0 !important;
        font-size: 30px !important;;
        margin: 0;
    }
    .home .banner-box {
        width: 100% !important;
        
    }
    .home .banner-box h1 {
        font-size: 30px !important;;
        width: 100%;
    }
    .home .banner {
        background-size: cover !important;
    }
    .container-article h4 {
        margin-bottom: 0 !important;
    }
    .home .chamada-3-carrossel .owl-carousel .owl-nav button.owl-next {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .chamada-proposta .btn {
        font-size: 20px !important;
    } 
    .home  .banner-box h1 {
        font-size: 22px!important;
    }
    .home  .banner-box p {
        font-size: 26px!important;
    }
    .home .banner-box {
        padding-top: 80px;
    }
    .home .banner-box .btn-banner-home {
        font-size: 12px;
    }
    .home .chamada-3-carrossel  {
        display: none;
    }
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.5s;
    animation-name: fade;
    animation-duration: 2.5s;
  }

.active1 {
    background-color: #717171;
  }

  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }


  /* http://www.menucool.com */

#sliderFrame, #sliderFrame div {
    box-sizing: content-box;
}
#sliderFrame 
{
    width:700px;
    margin:0 auto; /*center-aligned*/
}

#slider, #slider .sliderInner {
    width:700px;height:306px;/* Must be the same size as the slider images */
    border-radius:3px;
}

#slider {
    background-color:white;
    position:relative;
    margin:0 auto; /*center-aligned*/
    transform: translate3d(0,0,0);
    box-shadow: 0px 1px 5px #999999;
}

/* the link style (if an image is wrapped by a link) */
#slider a.imgLink, #slider .video {
    z-index:2;
    cursor:pointer;
    position:absolute;
    top:0px;left:0px;border:0;padding:0;margin:0;
    width:100%;height:100%;
}
#slider .video {
    background:transparent url(video.png) no-repeat 50% 50%;
}

/* Caption styles */
#slider .mc-caption {
    position:absolute;
    width:100%;
    height:auto;
    padding:10px 0;/* 10px will increase the height.*/
    left:0px;
    bottom:0px;top:auto;
    overflow:hidden;
    font: bold 14px/20px Arial;
    color:#EEE;
    text-align:center;
    background:rgba(0,0,0,0.3);
}
#slider .mc-caption a {
    color:#FB0;
}
#slider .mc-caption a:hover {
    color:#DA0;
}


/* ------ built-in navigation bullets wrapper ------*/
#slider .navBulletsWrapper  {
    top:320px;
    text-align:center;
    background:none;
    position:relative;
    z-index:3;
}

/* each bullet */
#slider .navBulletsWrapper div 
{
    width:11px; height:11px;
    font-size:0;color:White;/*hide the index number in the bullet element*/
    background:transparent url(bullet.png) no-repeat 0 0;
    display:inline-block; *display:inline; zoom:1;
    overflow:hidden;cursor:pointer;
    margin:0 6px;/* set distance between each bullet*/
}

#slider .navBulletsWrapper .active {background-position:0 -11px;}


/* --------- Others ------- */

#slider img, #slider>b, #slider a>b {
    position:absolute; border:none; display:none;
}

#slider .sliderInner {
    overflow:hidden;
    position:absolute; top:0; left:0;
}

#slider>a, #slider video, #slider audio {display:none;}
#slider div {-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}


.secao-cards{
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
}

.secao-cards h1 {
    text-align: center;
    font-style: italic;
    text-transform: uppercase;
    font-size: 34px;
    color: #6da647;
    font-family: Asap,sans-serif;
    font-weight: 500;
    margin-bottom: 40px;
    margin-top: 40px;
}

.article-cards{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 400px;
}

#subparagrafo{
    margin-top: 0px;
}

.external-cards p{
   font-size: 20px;
   font-family: Fira Sans,sans-serif;
   font-weight: 600;
   color: #156083;
   line-height: 1.3;
   margin-right: 12px;
   margin-left: 12px;
   font-style: italic;
   text-transform: uppercase;
}

.link-fale-conosco{
    width: fit-content;
    margin-top: 30px;
    padding: 10px 15px;
    background-color: #3d8baf;
    color: #cae186!important;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    text-decoration: none!important;
}